body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

h1, h2, h3 {
    color: #444;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.blackjack-info{
    width: 70%;
    position: relative;
}

#dealer, #player {
    border: 1px solid #ccc;
    background-color: #fff;
}

#info1, #info2, .result-info {
    border: 1px solid #ccc;
    background-color: #fff;
}

.result-info{
    min-height: 100% !important;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

.huina-li {
    width: fit-content;
    margin: auto;
}


#slot-machine {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slot {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.stop-animation {
    animation: none;
}

#flightChart {
    min-width: 75% !important;
    max-width: 75% !important;
    min-height: 95% !important;
    max-height: 95% !important;
}

.h-95 {
    height: 95% !important;
}

.decks-count-selector {
    width: fit-content;
}

.decks-count-input {
    width: 10% !important;
    height: auto;
    flex: none !important;
}

.decks-count-button {
    margin: 0 !important;
}

.blackjack-buttons {
    width: fit-content;
}

.flash-container {
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 1000;
}

.flash-message {
    background-color: rgba(248, 215, 218, 0.5);
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    position: sticky;
    animation: fadeOut 7s forwards;
}

.flash-message.success {
    background-color: rgba(212, 237, 218, 0.5);
    color: #155724;
    border-color: #c3e6cb;
}

.flash-message.warning {
    background-color: rgba(255, 243, 205, 0.5);
    color: #856404;
    border-color: #ffeeba;
}

.flash-message.info {
    background-color: rgba(209, 236, 241, 0.5);
    color: #0c5460;
    border-color: #bee5eb;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cards-container {
    position: relative;
    height: 160px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    width: 110px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    margin: 5px;
    transition: transform 1s ease-in-out;
    transform: translate(200px, -200px);
    opacity: 0;
}

.card.animate {
    transform: translate(0, 0);
    animation: fadeIn 1s ease-in-out forwards;
}

.card .top-left,
.card .bottom-right {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

.card .top-left {
    top: 5px;
    left: 5px;
}

.card .bottom-right {
    bottom: 5px;
    right: 5px;
    transform: rotate(180deg);
}

#confetti{
    width: 100px;
    height: 100px;
    background: #0c5460;
}