{% extends "main.html" %}

{% block about %}

    <header>
        <h1>Welcome to the club, buddy</h1>
    </header>
    <main>
        <div>
            <img src="../static/images/svo3.jpg" alt="" class="img-fluid rounded w-75 h-auto">
            <p>Объявляется набор добровольцев</p>
        </div>
        <section class="w-50 m-auto">
            <h2>Абоба</h2>
            <div><button id="confetti"></button></div>
            <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac sodales enim, id fringilla ipsum.
                Aenean quis viverra neque. Sed in lorem aliquet, ornare mauris non, feugiat felis. Etiam eu venenatis
                nulla, sit amet consectetur orci. Integer congue volutpat tristique. Integer vitae risus id ipsum
                convallis volutpat. Etiam congue ex sed lobortis mollis. Aliquam tempus ultrices dignissim. In non
                pellentesque sapien.

                Nunc aliquam et orci vitae venenatis. Cras vitae felis diam. Praesent justo ipsum, vulputate ut pretium
                vel, porttitor non lectus. Morbi est mi, interdum id leo in, euismod egestas nulla. Nam eget tellus ex.
                Cras turpis nisi, tempor condimentum felis ut, dapibus pellentesque justo. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Sed augue turpis, pellentesque eget eleifend et, gravida et massa.

                Aenean volutpat purus velit, eu ultricies enim suscipit at. Pellentesque at maximus urna. Praesent
                consectetur eget purus ut ullamcorper. Morbi facilisis urna ligula, accumsan convallis sem scelerisque
                quis. Integer sollicitudin, eros non condimentum volutpat, nisl libero pulvinar sem, ut tempus ligula
                nibh pharetra neque. Nullam elit nibh, congue non tortor id, tempus porta dui. Vivamus ante eros,
                accumsan ullamcorper ligula vel, accumsan auctor augue. In elementum malesuada lacinia. Nulla ut ante
                vel arcu vestibulum luctus sit amet nec nibh. Duis et placerat magna. Vivamus id vehicula nibh.

                Maecenas sit amet eros dolor. Mauris viverra ante sed ex pellentesque auctor. Sed eget leo ultrices nunc
                rutrum suscipit tincidunt vel urna. Pellentesque sit amet consequat ex. Nam dictum, augue euismod semper
                luctus, ipsum libero luctus tellus, non tristique tellus lectus quis odio. Aenean viverra arcu leo, eget
                mollis enim convallis at. Curabitur egestas luctus risus eu vestibulum. Phasellus lacinia nisl vitae
                commodo semper. Etiam sagittis turpis eu enim molestie maximus. In tempor cursus velit sit amet
                tincidunt.

                Donec quis ligula arcu. Praesent ullamcorper tristique turpis blandit convallis. In hac habitasse platea
                dictumst. Morbi laoreet vulputate leo sit amet tempor. Quisque tortor ligula, vulputate at orci a,
                dictum malesuada justo. Duis ac convallis magna, at dictum ligula. Aliquam sodales metus sem, eu
                hendrerit elit rutrum eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. Suspendisse placerat ultricies augue, ac malesuada orci vehicula nec. Morbi in
                egestas erat. Pellentesque facilisis odio vitae nisl finibus, sit amet feugiat dolor venenatis.

                Pellentesque condimentum mauris felis, vitae tempor odio facilisis ac. Suspendisse vel ante justo.
                Integer magna nibh, interdum ac tincidunt et, rutrum in velit. Suspendisse orci lacus, placerat sed
                ipsum a, bibendum tincidunt diam. Nullam vulputate vel urna sed facilisis. Ut imperdiet enim quis
                placerat efficitur. Mauris id nunc id turpis iaculis pharetra nec tempus est. Pellentesque maximus nec
                nulla id volutpat. Cras porta leo at purus condimentum, a rutrum velit eleifend. Sed nec tortor pretium,
                lacinia mauris nec, venenatis metus. Morbi rhoncus euismod lorem, eget volutpat lorem pharetra quis.
                Vestibulum non lectus porta, porttitor dolor a, malesuada mi. Pellentesque purus elit, laoreet et risus
                in, varius blandit est.

                Praesent vehicula dui vel mauris pulvinar faucibus. Vivamus sed dui eu libero vulputate pellentesque.
                Nunc tellus nisl, fringilla et condimentum quis, suscipit in nisl. Curabitur eget tincidunt metus, ut
                laoreet neque. Vestibulum facilisis sapien ut neque malesuada, non elementum nisl pellentesque. Ut
                porttitor fermentum dolor ut porttitor. Mauris aliquam mi eget consectetur euismod. Nulla ut erat felis.
                Quisque faucibus magna finibus odio tristique, quis vestibulum lorem tincidunt. Aenean fermentum, elit
                scelerisque semper euismod, odio ipsum suscipit nisi, sollicitudin maximus metus elit a diam. Nam nec
                egestas orci, in faucibus purus. Maecenas varius massa et eros pulvinar semper. Mauris a sollicitudin
                dui. Aliquam ut gravida neque.

                Mauris suscipit sem justo, non viverra purus sagittis eget. Cras quis tellus id ipsum elementum placerat
                a euismod ex. Praesent mattis porttitor leo non cursus. Donec eu eleifend elit. Ut tincidunt mattis
                massa a accumsan. Nulla ut sapien et magna tincidunt luctus sed ac magna. Pellentesque lobortis cursus
                lectus, eget laoreet elit pellentesque vitae. Vivamus vel hendrerit felis. Proin sodales pharetra erat
                ut viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis quis nulla bibendum,
                efficitur ante at, congue libero. Curabitur rutrum odio sit amet commodo ornare. Cras imperdiet faucibus
                efficitur. In purus purus, ornare sit amet nisi eu, tristique facilisis diam.

                Quisque dapibus imperdiet interdum. Vivamus blandit quam quis neque accumsan, at lobortis ipsum auctor.
                Sed ac est eu enim consectetur faucibus. Proin lobortis sollicitudin egestas. Suspendisse justo arcu,
                placerat vitae vehicula non, rutrum in nibh. Nullam auctor ligula vitae odio sollicitudin, nec
                vestibulum ligula hendrerit. Curabitur egestas imperdiet vehicula. Pellentesque porta fringilla massa a
                lobortis. Praesent non ornare metus. Cras tempor, felis a posuere interdum, orci orci sodales lectus, at
                mattis massa libero eu orci.

                Phasellus quis metus non arcu pulvinar accumsan eget nec justo. Cras nec mauris posuere, ullamcorper
                lacus eu, suscipit leo. Mauris sed purus turpis. Ut convallis pellentesque aliquet. Donec in ex sit amet
                purus mollis malesuada. Aliquam erat volutpat. Morbi luctus eleifend orci in fermentum. Nullam laoreet
                nibh et metus maximus suscipit. Donec arcu mi, varius cursus metus quis, fringilla dictum lorem. </p>
        </section>
        <section>
            <h2>Фичи:</h2>
            <ul class="d-flex flex-column">
                <li class="huina-li">Хуйня 1</li>
                <li class="huina-li">Хуйня 2</li>
                <li class="huina-li">Хуйня 3</li>
            </ul>
        </section>
    </main>

{% endblock %}