{% extends "main.html" %}

{% block raketka %}
    <div class="container h-95">
        <h1 class="text-center mt-2">"Рааазными способами обмануть..."</h1>
        <h3 class="text-center mt-2 visually-hidden">Текущий кэф: <span id="real-time-coef">1.00</span></h3>
        <div class="d-flex flex-row h-100">
            <canvas id="flightChart" class="mt-2 m-auto"></canvas>
            <div class="d-flex flex-column">
                <h2 class="text-center" id="current-coef">Коэффициент: 1.00</h2>
                <div id="rocket-image-container" class="d-flex justify-content-center">
                    <img id="rocket-img" src="{{ url_for('static', filename='images/rocket.jpeg') }}" alt="Ракета"
                         style="max-width: 80%; height: auto;">
                </div>
                <form id="raketka-form" class="mt-2">
                    <div class="mb-3 d-flex flex-row">
                        <div class="d-flex flex-column">
                            <label for="bet" class="form-label">Ставка (мин. 10):</label>
                            <input type="number" class="form-control mt-auto" id="bet" name="bet" min="10" value="100" required>
                        </div>
                        <div class="d-flex flex-column">
                            <label for="auto_stop" class="form-label">Автостоп (мин. 1.25):</label>
                            <input type="number" step="0.01" class="form-control mt-auto" id="auto_stop" name="auto_stop"
                                   min="1.25"
                                   value="1.5"
                                   required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-auto mt-1 mb-1 ms-auto me-auto">Старт!</button>
                </form>

                <button id="stop-rocket" class="btn btn-danger w-auto mt-1 mb-1 ms-auto me-auto" style="display:none;">
                    Стоп
                </button>
                <div id="result" class="mt-2"></div>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/raketka.js') }}"></script>
{% endblock %}