{% extends "main.html" %}

{% block slots %}
    {#    <h1><a href=" {{ '/' }}">Главная</a></h1>#}
    <h1>Слотики</h1>


    <div id="slot-machine">
        <h2>Ваши слоты</h2>
        <div id="slots-display">🍒 | 🍋 | 🍉</div>
    </div>

    <button id="spin-btn">Крутить слоты</button>
    <div id="result"></div>

    <script>
        document.getElementById('spin-btn').addEventListener('click', function () {
            fetch('/slots/spin', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    document.getElementById('slots-display').innerHTML = data.slots.join(' | ');
                    document.getElementById('result').innerHTML = data.message;
                });
        });
    </script>
{% endblock %}